@model MiniTwitter.ViewModels.TweetsPageViewModel

<h2>Tweet what's on your mind</h2>
<form asp-action="Create" method="post">
    <div>
        <label asp-for="NewTweet.Content">Content</label>
        <textarea asp-for="NewTweet.Content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2>All Tweets</h2>
<div class=tweet-container>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Content</th>
                <th>Created At</th>
                <th>User</th>
                <th>Reply</th>
                <th>Likes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tweet tweet in Model.AllTweets)
            {
                <tr>
                    <td>@tweet.Content</td>
                    <td>@tweet.CreatedAt.ToString()</td>
                    <td>@tweet.UserId.ToString()</td>
                    <td>@tweet.ParentTweetId.ToString()</td>
                    <td>@tweet.LikesCount.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>